# Server
APP_PORT=8080
GIN_MODE=debug

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=umniy_gorod
DB_SSLMODE=disable

# Files
UPLOAD_DIR=./uploads

# Авторизация 

JWT_SECRET=

JWT_TTL_HOURS=720

MAX_INITDATA_SECRET=

INITDATA_MAX_AGE_SECONDS=86400

INTERNAL_API_KEY=

ALLOW_DEV_HEADERS=false
